{% extends "admin/admin.html.twig" %}

{% block title 'Catégories' %}

{% block body %}

    <p>
        <a class="btn btn-warning" href="{{ path('admin.category.new') }}">Ajouter une catégorie</a>
    </p>
    
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Recettes</th>
                <th style="width: 200px">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
        <tr>
            <td>{{ category.name }}</td>
            <td>{{ category.count }}</td>
            <td>
                <div class="d-flex gap-1">
                    <a class="btn btn-warning btn-sm" href="{{ path('admin.category.edit', {id: category.id}) }}">Modifier</a>

                    <form method="post" action="{{ path('admin.category.delete', {id: category.id}) }}">
                        <input type="hidden" name="_method" value="DELETE"/>
                        <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
                    </form>
                </div>
            </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}