<p>
    Nouveau mail de {{ data.name }}
</p>

<ul>
    {# <li>Nom : {{ data.name }}</li> #}
    <li>de : {{ data.email }}</li>
    <li>Service contacté : {{ data.service }}</li>
</ul>

<p>
    <strong>Message :</strong><br/>
    {{ data.message | nl2br }}
</p>